#cloud-config
disable_root: false
ssh_pwauth: false
users:
  - name: root
    ssh_authorized_keys:
      - @SSH_KEY@
runcmd:
  - [sh, -c, 'mkdir -p /root/.ssh && grep -qF "@SSH_KEY@" /root/.ssh/authorized_keys 2>/dev/null || echo "@SSH_KEY@" >> /root/.ssh/authorized_keys; chmod 700 /root/.ssh; chmod 600 /root/.ssh/authorized_keys']
